{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "none",
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 80,
    "singleAttributePerLine": false
  }